@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-success alter-confirm-register" role="alert">
    <p>
        Please check your email to confirm your account.
    </p>
</div>


