@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="card card-resend-confirmmail">
    <div class="card-body">

        <p class="card-title">@ViewData["Title"]</p>
        <p class="card-text ">
            Your password has been reset
        </p>
        <img src="~/images/confirmationtemplates.jpg" width="100%" style="margin-bottom:20px" />
        <br />
        <a class="btn btn-success" href="./Login">Login</a>
    </div>
</div>

