@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section class="home-slider owl-carousel">
    <div class="slider-item bread-item" style="background-image: url('/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container" data-scrollax-parent="true">
            <div class="row slider-text align-items-end">
                <div class="col-md-7 col-sm-12 ftco-animate mb-5">
                    <p class="breadcrumbs" data-scrollax=" properties: { translateY: '70%', opacity: 1.6}"><span class="mr-2"><a href="index.html">Home</a></span> <span>Blog</span></p>
                    <h1 class="mb-3" data-scrollax=" properties: { translateY: '70%', opacity: .9}">Read Our Blog</h1>
                </div>
            </div>
        </div>
    </div>
</section>
    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12 ftco-animate">
                            <div class="blog-entry">
                                <a href="blog-single.html" class="block-20" style="background-image: url('/images/image_1.jpg');">
                                </a>
                                <div class="text d-flex py-4">
                                    <div class="meta mb-3">
                                        <div><a href="#">Sep. 20, 2018</a></div>
                                        <div><a href="#">Admin</a></div>
                                        <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                                    </div>
                                    <div class="desc pl-sm-3 pl-md-5">
                                    <h3 class="heading"><a href="#">Preventing Dental Diseases: Tips for a Healthy Smile</a></h3>
                                    <p>
                                        This blog focuses on preventive measures you can take to maintain optimal oral health. We offer practical tips on oral hygiene routines, dietary choices, and lifestyle habits that can help prevent dental diseases. By following these recommendations, you can significantly reduce your risk of developing common dental problems.
                                    </p>
                                        <p><a href="blog-single.html" class="btn btn-primary btn-outline-primary">Read more</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 ftco-animate">
                            <div class="blog-entry" data-aos-delay="100">
                                <a href="blog-single.html" class="block-20" style="background-image: url('/images/image_2.jpg');">
                                </a>
                                <div class="text d-flex py-4">
                                    <div class="meta mb-3">
                                        <div><a href="#">Sep. 20, 2018</a></div>
                                        <div><a href="#">Admin</a></div>
                                        <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                                    </div>
                                    <div class="desc pl-sm-3 pl-md-5">
                                    <h3 class="heading"><a href="#">The Importance of Regular Dental Check-ups: Your Key to Early Diagnosis</a></h3>
                                    <p>Regular dental check-ups play a vital role in the early detection of dental diseases. In this blog, we emphasize the significance of scheduling routine dental visits and highlight the various diagnostic procedures performed during these check-ups. By prioritizing regular dental examinations, you can catch potential issues before they escalate into major problems.</p>
                                        <p><a href="blog-single.html" class="btn btn-primary btn-outline-primary">Read more</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 ftco-animate">
                            <div class="blog-entry" data-aos-delay="200">
                                <a href="blog-single.html" class="block-20" style="background-image: url('/images/image_3.jpg');">
                                </a>
                                <div class="text d-flex py-4">
                                    <div class="meta mb-3">
                                        <div><a href="#">Sep. 20, 2018</a></div>
                                        <div><a href="#">Admin</a></div>
                                        <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                                    </div>
                                    <div class="desc pl-sm-3 pl-md-5">
                                    <h3 class="heading"><a href="#">Oral Health and Overall Well-being: The Mouth-Body Connection</a></h3>
                                    <p>Did you know that oral health is closely linked to your overall well-being? In this blog post, we explore the mouth-body connection and discuss how dental diseases can impact your systemic health. We also provide insights into preventive measures and lifestyle changes that promote both oral and general health.</p>
                                        <p><a href="blog-single.html" class="btn btn-primary btn-outline-primary">Read more</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 ftco-animate">
                            <div class="blog-entry">
                                <a href="blog-single.html" class="block-20" style="background-image: url('/images/image_4.jpg');">
                                </a>
                                <div class="text d-flex py-4">
                                    <div class="meta mb-3">
                                        <div><a href="#">Sep. 20, 2018</a></div>
                                        <div><a href="#">Admin</a></div>
                                        <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                                    </div>
                                    <div class="desc pl-sm-3 pl-md-5">
                                    <h3 class="heading"><a href="#">Trends and Innovations in Dental Diagnostics: Improving Accuracy and Efficiency</a></h3>
                                    <p>The field of dental diagnostics is constantly evolving, embracing new technologies and techniques to enhance accuracy and efficiency. In this blog, we highlight the latest trends and innovations in dental diagnostics, including digital imaging, laser technology, and genetic testing. Stay informed about the cutting-edge advancements that are revolutionizing dental disease diagnosis.</p>
                                        <p><a href="blog-single.html" class="btn btn-primary btn-outline-primary">Read more</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="col-md-12 ftco-animate">
                        <div class="blog-entry" data-aos-delay="200">

                            <a href="blog-single.html" class="block-20" style="background-image: url('/images/image_5.jpg');">
                            </a>
                            <div class="text d-flex py-4">
                                <div class="meta mb-3">
                                    <div><a href="#">Sep. 20, 2018</a></div>
                                    <div><a href="#">Admin</a></div>
                                    <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                                </div>
                                <div class="desc pl-sm-3 pl-md-5">
                                    <h3 class="heading"><a href="#">The Role of Nutrition in Dental Health: Fueling a Healthy Smile</a></h3>
                                    <p>What you eat can significantly impact your dental health. In this blog, we explore the connection between nutrition and dental diseases. We discuss the foods that promote oral health, such as fruits and vegetables, and those that may contribute to dental problems, such as sugary and acidic foods. Learn how to make smart dietary choices to support a healthy smile and prevent dental diseases.</p>
                                    <p><a href="blog-single.html" class="btn btn-primary btn-outline-primary">Read more</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                       <div class="col-md-12 ftco-animate">
                            <div class="blog-entry" data-aos-delay="100">
                            <a href="blog-single.html" class="block-20" style=" background-image: url('/images/image_6.jpg');">
                                </a>
                                <div class="text d-flex py-4">
                                    <div class="meta mb-3">
                                        <div><a href="#">Sep. 20, 2018</a></div>
                                        <div><a href="#">Admin</a></div>
                                        <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                                    </div>
                                    <div class="desc pl-sm-3 pl-md-5">
                                    <h3 class="heading"><a href="#">Caring for Your Child's Dental Health: Tips for Parents</a></h3>
                                    <p>Children require special attention when it comes to dental health. In this blog post, we provide valuable tips and insights for parents on how to establish good oral hygiene habits for their children. We discuss age-appropriate dental care routines, the importance of a balanced diet, and how to make dental visits a positive experience for your child. Empower yourself with the knowledge to protect your child's smile.</p>
                                        <p><a href="blog-single.html" class="btn btn-primary btn-outline-primary">Read more</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                    <div class="row mt-5">
                        <div class="col">
                            <div class="block-27">
                                <ul>
                                    <li><a href="#">&lt;</a></li>
                                    <li class="active"><span>1</span></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">&gt;</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> <!-- END: col-md-8 -->
                <div class="col-md-4 sidebar ftco-animate">
                    <div class="sidebar-box">
                        <form action="#" class="search-form">
                            <div class="form-group">
                                <span class="icon fa fa-search"></span>
                                <input type="text" class="form-control" placeholder="Type a keyword and hit enter">
                            </div>
                        </form>
                    </div>
                    <div class="sidebar-box ftco-animate">
                        <div class="categories">
                            <h3>Categories</h3>
                            <li><a href="#">Food <span>(12)</span></a></li>
                            <li><a href="#">Dish <span>(22)</span></a></li>
                            <li><a href="#">Desserts <span>(37)</span></a></li>
                            <li><a href="#">Drinks <span>(42)</span></a></li>
                            <li><a href="#">Ocassion <span>(14)</span></a></li>
                        </div>
                    </div>

                    <div class="sidebar-box ftco-animate">
                        <h3>Recent Blog</h3>
                        <div class="block-21 mb-4 d-flex">
                            <a class="blog-img mr-4" style="background-image: url(/images/image_1.jpg);"></a>
                            <div class="text">
                            <h3 class="heading"><a href="#">Preventing Dental Diseases: Tips for a Healthy Smile</a></h3>
                                <div class="meta">
                                    <div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
                                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="block-21 mb-4 d-flex">
                            <a class="blog-img mr-4" style="background-image: url(/images/image_2.jpg);"></a>
                            <div class="text">
                            <h3 class="heading"><a href="#">The Importance of Regular Dental Check-ups: Your Key to Early Diagnosis</a></h3>
                                <div class="meta">
                                    <div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
                                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="block-21 mb-4 d-flex">
                            <a class="blog-img mr-4" style="background-image: url(/images/image_3.jpg);"></a>
                            <div class="text">
                            <h3 class="heading"><a href="#">Oral Health and Overall Well-being: The Mouth-Body Connection</a></h3>
                                <div class="meta">
                                    <div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
                                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="sidebar-box ftco-animate">
                        <h3>Tag Cloud</h3>
                        <div class="tagcloud">
                            <a href="#" class="tag-cloud-link">dish</a>
                            <a href="#" class="tag-cloud-link">menu</a>
                            <a href="#" class="tag-cloud-link">food</a>
                            <a href="#" class="tag-cloud-link">sweet</a>
                            <a href="#" class="tag-cloud-link">tasty</a>
                            <a href="#" class="tag-cloud-link">delicious</a>
                            <a href="#" class="tag-cloud-link">desserts</a>
                            <a href="#" class="tag-cloud-link">drinks</a>
                        </div>
                    </div>

                    <div class="sidebar-box ftco-animate">
                        <h3>Paragraph</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

